parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - %currentWorkingDirectory%/src
    ignoreErrors:
        - '#PHPDoc#'
        - '#typehint#'
        - '#no value type specified#'
